<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>

    <textarea id="chat-log" cols="50" rows="20"></textarea><br>
    <input type="text" id="chat-message-input" size="50"><br>
    <input type="submit" value="Send" id="chat-message-submit">
    
    <script>
        let socket = new WebSocket("ws://127.0.0.1:8000/ws/myasc/");
        socket.onopen = function(){
            console.log("Websocket Connected");
            // socket.send("Hi from Jayant...");
        }
        socket.onmessage = function(event){
            let data = JSON.parse(event.data);
            console.log("Message received from server - ", data);
            document.getElementById("chat-log").value += (data.msg + "\n");
        }
        socket.onclose = function(){
            console.error("Websocket Connection close Unexpectedly.");
        }

        document.getElementById("chat-message-submit").onclick = function(event){
            let msgInpDom = document.getElementById("chat-message-input");
            let message = msgInpDom.value;
            socket.send(JSON.stringify({
                'msg': message
            }));
            msgInpDom.value = '';
        }
    </script>
</body>
</html>